@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./component/button";
@import "./component/input.css";

body {
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #575656;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4a002;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet {
  background-color: #e4a002 !important;
}
